@import url("https://fonts.googleapis.com/css?family=Lato|Roboto");
body {
  background: #f3f3f3;
  overflow: hidden;
  height: 100vh;
}
.App {
  font-family: Roboto;
  text-align: center;
}
.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
}
.header h2 {
  text-transform: uppercase;
  font-family: Lato;
  font-size: 1.9em;
  color: #1890ff;
  margin: 0px;
  padding: 5px;
}

.card,
.right {
  background: white;
  margin-top: 8vh;
  border-radius: 10px;
}
.profile {
  font-size: 1.3em;
}

.card .mini-profile {
  background: url("./res/cover.jpg");
  background-size: cover;
  border-radius: 10px 10px 0 0;
}
.card .mini-profile h2 {
  color: white;
}

.mini-info {
  padding: 10px 10px 0 10px;
}
.menu-profile {
  display: flex;
  justify-content: space-between;
}
.right {
  padding: 48px 20px;
  min-height: 73vh;
  padding-top: 11vh;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.3em;
}
.stats span {
  font-weight: 600;
  display: block;
  cursor: help;
  font-size: 0.9em;
}
.log {
  padding: 0;
  padding-top: 10px;
}
.submit {
  background: #1890ff;
  border: none;
  color: white;
  font-family: Roboto;
  width: 100%;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 0 0 10px 10px;
  padding: 5px;
  transition: background 0.3s;
}
.submit:hover {
  background: #51acff;
}
.ant-card-grid {
  padding: 15px;
  font-size: 1.2em;
}
.logout {
  color: white;
  display: block;
  font-size: 1.6em;
  padding: 5px;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  body {
    overflow: inherit;
  }
  footer {
    display: none;
  }
  .card,
  .mini-profile {
    border-radius: 0 !important;
    margin: 0;
  }
  .stats {
    margin-bottom: 30px;
  }
}
